.panel
  %h1 Edit Product
  .form
    = form_for @product, method: 'PUT' do |f|
      - if @product.errors.any?
        - @product.errors.full_messages.each do |err|
          #err-li= err
      %p
        .label='* Name'
        .medium-4=f.text_field :name
      %p
        .label= 'Description'
        .medium-4=f.text_area :description
      %p
        .label='* Price'
        .medium-4=f.text_field :price
      %p
        .label='Image'
        .medium-4=f.file_field :image

      %button.submit= 'Update'

  %p=link_to 'Back', products_path