%h1 Product
%table
  - if @product.present?
    %tr
      %td
        %h3 name
      %td
        %h3 description
      %td
        %h3 price
    %tr
      %td
        %h3= @product.name
      %td
        %h3= @product.description
      %td
        %h3= @product.price
  - else
    %tr
      %td.text-center{colspan:7} No user log history
  %tr
    %td
      %p=link_to 'Back', products_path
    %td
      %p=link_to 'Edit', edit_product_path(@product)